#slider {
  width: 768px;
  height: 256px;
  border: 5px solid black;
  margin: 50px auto;
  overflow: hidden;
}

#line {
  
  width: 1536px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

#line img {
  float: left;
}

#line::after {
  content: "";
  display: block;
  clear: both;
}